/* //trouver une anim facile pour ouvrir les fenetres porte coulissante ?? 
/*comment centrer la popup avec vw vh ?
/* pour le rond du chiffre essayer de recommencer en faisant un fond carré par exp de 50px de côté y
 appliquer bordr radius--> pas beau
essayer de faire un petit couettou au dessus en s inspirant du tuto pour la popup abec bordure

*/


@font-face {
  font-family: "childish";
  src: url(guard.ttf);
}

@media only screen and (orientation: landscape) {
  body {
    background-image: url("dessinnoel-portrait.jpg");
    background-size: contain;
  }

  .errorMessage { 
    display: block;
    position: fixed;
    left: 50%;
  transform: translate(-50%,-50%);
  background-color: red;
  }

}
body{
  
  background-image: url("dessinnoel.jpg");
  margin: 0%;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
  
}

h1{

  font-family: "childish", serif ;
  font-size: x-large;
}

#fenetres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}


.fenetre{  /*mise en forme de la fenetre fermée */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height : 6em ;
    border-top: 2px dotted white;
    border-right: 2px dotted white;
    border-bottom: 2px dotted white;
    border-left: 2px solid white;
    border-radius: 2px 4px 4px 2px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .chiffre {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    flex-wrap: nowrap;
    text-align: center;
    /* line-height: 17px; */
    width: 20px;
    height: 20px;
    color: red;
    background: radial-gradient( at  80% 80%,  gold,rgb(240, 229, 166), white, gold );
    border-radius: 50%;
    padding: 8px;
    box-shadow: 1px 2px 2px rgb(46, 36, 36); 
  } 

  .popuptext { /* mise en forme du texte à afficher*/
    display: block;
    position: fixed;
    visibility: hidden;
    top: 40%;
    font-size: large;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    padding: 1em;
    width: 50%;
    background: linear-gradient(0deg , rgba(43, 0, 233, 0.673) ,rgb(0, 0, 0)) ;
    color: #fff;
    text-align: center;
    z-index: 3;
    /* bottom: 125%;
    left: 50%;
    margin-left: -80px; */
  }
  


  .show {
    visibility: visible;
    -webkit-animation: fadeInOut 4s; /* à rallonger qd projet fini */
    animation: fadeInOut 4s forwards;
  }
  .errorMessage { /* mise en forme du message d erreur*/
    display: block;
    position: fixed;
    visibility: hidden;
    top: 25%;
    font-size: x-large;
    left: 60%;
    transform: translate(-30%,-30%);
    border-radius: 6px;
    padding: 8px 0;
    width: 30rem;
    height: 8rem;
    background-color: rgb(109, 224, 71); 
    color: red ;
    text-align: center;
    z-index: 3;
    
    /* bottom: 125%;
    left: 50%;
    margin-left: -80px; */
  }

   /* Popup arrow */
   .errorMessage::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color:   rgb(109, 224, 71) transparent transparent transparent ;
    transform: skewX(-60deg);
  }

  .gingerman2{
    display: block;
    position: absolute;
    visibility: hidden;
    width: 400%;
    height: 400%;
    margin: 0px;
    padding: 0%;
    bottom: -1000px;
    left: -200px;
    background-image: url("gingerbread.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 8;
  }

  .gingerman{
    display: block;
    position: fixed;
    visibility: hidden;
    width: 35%;
    height: 35%;
    margin: 0px;
    bottom: 10%;
    left: 10% ;
    background-image: url("gingerbread.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 8;
  }


  .afficheGinger{
    visibility: visible;
    animation: gingerwheel 4s forwards ease-out;
  }

  .afficheGingerError{
    visibility: visible;
    animation: gingererror 5s  ease-in-out;
  }
  
 
  @-webkit-keyframes fadeInOut {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeInOut {
    0% {opacity: 0;visibility: visible;}
    10% {opacity:1 ;visibility: visible;}
    90% {opacity:1 ;visibility: visible;}
    100% {opacity :1 ; visibility: hidden;} 
  }

  @keyframes gingerwheel {
    0% {transform: translateX(0px) ;}
    20% {transform: translateX(0px) ;}
    35% {transform: translateX(100px) ;}
    40% {transform: translateX(150px)translateY(-140px)rotate(90deg) ;}
    55% {transform: translateX(200px)translateY(-100px)rotate(180deg) ;}
    60% {transform: translateX(300px)translateY(0px)rotate(360deg); }
    100% {transform: translateX(1000px)translateY(0px)rotate(360deg); }
  }
  @keyframes gingererror {
    0% {background-image: url("gingerbreaderror.png"); }
    10%  {transform: translateY(-100px);} 
    30%  {transform: translateY(-400px);} 
    35% { transform: translateY(-400px) rotate(5deg);} 
    40%  {transform: translateY(-400px)rotate(-5deg);} 
    45%  {transform: translateY(-400px) rotate(5deg);} 
    50% { transform: translateY(-400px)rotate(-5deg);} 
    55% { transform: translateY(-400px) rotate(5deg);} 
    60% { transform: translateY(-400px)rotate(-5deg);} 
    65% { transform: translateY(-400px) rotate(5deg);} 
    70% { transform: translateY(-400px)rotate(-5deg);} 
    75% { transform: translateY(-400px) rotate(5deg);} 
    80% { transform: translateY(-400px)rotate(-5deg);} 
    85% { transform: translateY(-400px) rotate(5deg);} 
    88% { transform: translateY(-400px)rotate(-5deg);} 
    90% { transform: translateY(0px)rotate(0deg)} 
    100% { background-image: url("gingerbreaderror.png") ;transform: translateY(0px)rotate(0deg)} 
  }

  /* @keyframes gingererror {
    0% {width: 100px;height: 200px;}
    30% {background-image: url("gingerbreaderror.png");width: 200px;height: 400px;}
    45% { width: 200px;height: 400px;
      transform: translateX(-30px) translateY(-10px) rotate(20deg)}
    50% {width: 200px;height: 400px;
        transform: translateY(-10px) rotate(-20deg);}
    55% {width: 200px;height: 400px;
      transform:  translateY(-30px) rotate(20deg);}
    58% {width: 200px;height: 400px;
        transform: translateX(-10px)translateY(-10px) rotate(-20deg);}
    65% {width: 200px;height: 400px;
      transform: translateY(-30px) rotate(20deg);}  
    70% {width: 200px;height: 400px;
        transform:  translateY(-10px)rotate(-20deg) ;}
    75% {width: 200px;height: 400px;
      transform:translateY(-30px) rotate(0deg);}
    83% {width: 200px;height: 400px;
        transform: translateY(-10px) rotate(-20deg);}
    
    100% {background-image: url("gingerbreaderror.png");width: 200px;height: 400px;
      transform: translateX(-200px) translateY(-40px) rotate(0deg);}
  } */


  @keyframes clignote{
    0%  {background: radial-gradient( at  20% 20%,  gold,rgb(240, 229, 166), white, gold );}
    30%  {background: radial-gradient( at  20% 20%,  rgb(255, 170, 0),rgb(240, 229, 166), white, rgb(255, 157, 0) );}
    60%  {background: radial-gradient( at  20% 20%,  gold,rgb(240, 229, 166), white, gold );}
    100%  {background: radial-gradient( at  20% 20%,  rgb(255, 170, 0),rgb(240, 229, 166), white, rgb(255, 157, 0) );}
  }

.transitionChiffre{
  animation: clignote 1s;
  animation-iteration-count: 3;
  background: radial-gradient( at  20% 20%,  gold,rgb(240, 229, 166), white, gold );

}

.superutilisateur{
  
display: block;
position: fixed;
bottom :2% ;
left :5% ;
background-color: grey;
border-radius: 10%;
}



.superutilisateur:hover{
  background-color: cornflowerblue;
}
.superutilisateur:active{
  background-color: rgb(208, 255, 1);
  font-weight: bold;
}

.superutilisateuractive{
  background-color: rgb(30, 253, 0);
  

}



